@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #eee;
}

dt {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  
}
dt:not(:first-of-type) {
  margin-top: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: .3rem;
}

textarea {
  resize: vertical;
}

button {
  display: block;

  margin: 1rem auto 0;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background-color: #777;
  border-radius: .3rem;
}



