@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
  width: 30rem;
  height: 30rem;
  font-family: 'Anton', sans-serif;
  background-color: #eee;
  border: 3rem solid #777;
  text-transform: uppercase;
}

.box.two {
  margin-top: 10rem;
}