@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #eee;
}

dt {
  margin-bottom: .5rem;
}
dt:not(:first-of-type) {
  margin-top: 1rem;
}

input:not(:first-of-type) {
  margin-left: 1rem;
}