@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap');

html {
  /* 本文15px */
  font-size: 93.75%;
  scroll-behavior: smooth;
  /*  ページ先頭の要素に付ける。戻る位置を調整してくれる。
      scroll-margin-top: 80px;  */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
  color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
  overflow: hidden;
}

.frame {
  width: 100%;
  margin-top: 3rem;
  animation-name: move-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  img {
    width: 100%;
  }
}

@keyframes move-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    visibility: visible; 
    opacity:15%;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:nth-of-type(n+2) {
    margin-top: 1rem;
  }
}

dl {
  margin-left: 3rem;
  dt, dd {
    margin-right: 1rem;
  }
  dt {
    flex: 1;
  }
  dd {
    flex: 9;
  }
}

code {
  background-color: #ddd;
  padding: 0 .5rem;
  font-weight: 700;
  &:nth-of-type(n+2) {
    margin: 0 .5rem;
  }
}